#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: aqua;
}

p {
  border: 1px solid red;
}

h1 {
  margin-top: -5rem;
  font-size: 2rem;
}

nav {
  margin-top: 2rem;
}

a {
  text-decoration: none;
  border: 1px solid red;
  padding: 0.8rem 1rem;
  margin: 1rem;
  transition: 2s;
  border-radius: 0.2rem;
  color: black;

  &:hover {
    background: red;

    &:first-child {
      border-radius: 20rem 10rem;
    }

    &:last-child {
      border-radius: 10rem 20rem;
    }
  }
}
