#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(aqua, yellow);
}

span {
  background: url("../assets/logo1.png") center/cover no-repeat;
  width: 50%;
  min-height: 25vh;

  @media screen and (min-width: 481px) {
    background: url("../assets/logo2.jpg") center/cover no-repeat;
    width: 70%;
    min-height: 15vh;
    margin-bottom: 1rem;
  }
}

p {
  border: 1px solid red;
}

h1 {
  font-size: 2rem;

  //@include
}

nav {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  border: 1px solid red;
  padding: 0.8rem 1rem;
  margin: 1rem;
  transition: 2s;
  border-radius: 0.2rem;
  color: black;

  &:hover {
    background: red;

    &:first-child {
      border-radius: 20rem 10rem;
    }

    &:last-child {
      border-radius: 10rem 20rem;
    }
  }
}
